.homeContainer {
    background: rgba(255, 228, 196, 0.8);
    padding-bottom: 3rem;
    min-height: 94.2vh;
}
.pageDescription {
    padding: 10% 5%;
    text-align: justify;
}
.welcomeMsg {
    font-weight: bold;
    font-style: oblique;
}
.footer {
    margin-top: 30%;
    margin-left: 80%;
    opacity: 0.5;
    font-style: oblique;
}