.homeContainer {
    height: 94.3vh;
    background: rgba(255, 228, 196, 0.8);
}
.pageDescription {
    padding: 10%;
}
.welcomeMsg {
    font-weight: bold;
    font-style: oblique;
}
.footer {
    margin-top: 30%;
    margin-left: 80%;
    opacity: 0.5;
    font-style: oblique;
}